<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%/* Google fonts */%>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet" />
    
    <%/* bundle css */%>
    <link rel='stylesheet' href="/static/bundle.css" />
    
    <%/* favicon icon */%>
    <link rel="shortcut icon" type="image/png/ico" href="media/images/logo.png" />

    <%/* meta link for responsive layout */%>
    <meta content="width=device-width, initial-scale=1" name="viewport" />

  </head>

  <body>

    <div id="root"></div>

    <%/* bundle.js script */%>
    <script src="/static/bundle.js"></script>

  </body>
</html>
