
@import 'table.scss';
body {
  margin: 10x;
}

h1 {
  text-align: center;
  color: gray;
  margin-top: 50px;
}
.navbar-box {
  margin-bottom: 100px;
}

.form-container {
  padding: 40px 20px;
  background-color: rgba(245, 245, 245, 0.822);
}

.dp-box {
  border-radius: 50%;
  position: absolute;
  bottom: 200px;
}

.dp {
  border: 5px solid white;
}

.user-content{
  margin-top: 75px;
}