@import "table.scss";
body {
	margin: 10x;
}

h1 {
	text-align: center;
	color: gray;
	margin-top: 50px;
}
.navbar-box {
	margin-bottom: 100px;
}

.logo {
	font-family: 'Bungee Inline', cursive;
	font-size: 2rem;
}

.form-container {
	padding: 40px 20px;
	background-color: rgba(245, 245, 245, 0.822);
}

.dp-box {
	height: 10rem;
	width: 10rem;
	border-radius: 50% !important;
	position: absolute;
	left: 3rem;
	bottom: -5rem;
}

.dp {
	border: 5px solid white;
}

.user-content {
	margin-top: 75px;
}

.card .card-image .dp {
	border-radius: 50% !important;
}

.error {
	color: tomato;
}
